<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <%# to be replaced with banner image %>
    <h2>welcome to</h2>
    <h1>WyrmNest</h1>
    <%# add login sign up forum buttons/links %>
  </div>
</div>