<div class="box col-10 offset-1">
  <h1>edit your post</h1>
  <%= simple_form_for @topic do |f| %>
    <%= f.input :title %>
    <%= f.input :content %>
    <br />
    <%= f.submit 'update', class: 'btn btn-info' %>
  <% end %>
</div>