html {
  min-height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#flex-content-container {
  flex: 1;
}

#footer {


  bottom: 0px;
  margin-top: 10px;
  width: 100%;
  min-height: 100px;
  background: image_url('15.jpg');
  color: white;
}

