@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Uncial+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amethysta&display=swap');

.clr {
clear: both;
}

.line {
  height: 2px;
  color: #edbe5e;
  width: 100%;
}

.body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.hero {
  font-family: 'Uncial Antiqua', cursive;
  background: image_url('dragonbanner.png') no-repeat center center;
  height: 900px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 700x500;
}

.hero h1 {
  font-size: 80px;
  color: #8C1409;
}
.hero h2, .formbox h2 {
  color: #8C1409;
}

.titletext, {
  position: relative;
  right: 75px;
  top: 200px;
}

p {
  color: #8C1409;
}

a {
  color: #E4190B;
}

a#hover {
  color: #FBB132;
}

.landingLinks {
  position: relative;
  right: 50px;
  top: 50px;
}

.frontbutton {
  font-family: 'Uncial Antiqua', cursive;
  background-color: #8C1409;
  color: white;
}

.btn {
  font-family: 'Uncial Antiqua', cursive;
}

.topnav {
  margin-bottom: 15px;
  min-height: 105px;
  background: image_url('headerbanner.png');
}

.topnav a, .footer a {
  font-family: 'Uncial Antiqua', cursive;
  color: #8C1409;
}

h1, h2 {
  color: #8C1409;
}

.box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  border: 1px solid #ccc;
  border-radius: 6px;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 15px;
  margin-top: 20px;
  font-family: 'Amethysta', serif;
  color: #8C1409;
  background-color: #ffe680;
}


.box h2 {
  font-family: 'Uncial Antiqua', cursive;
  color: #8C1409;
}

.email, .password, .string {
  width: 100%;
  border-radius: 6px;
}

textarea {
  width: 100%;
}

.commentbox {
  -moz-box-shadow: 1px 1px 2px 0 #986e1b;
  -webkit-box-shadow: 1px 1px 2px 0 #986e1b;
  box-shadow: 1px 1px 2px 0 #986e1b;
  border: 1px solid #ccc;
  border-radius: 6px;
  border-color: #edbe5e #e6b34c #e6b34c #edbe5e;
  padding: 15px;
  font-family: 'Amethysta', serif;
  color: #8C1409;
  background-color: #ffe680;
}

.commentdivider {
  margin-left: 0;
  border: 1px solid #ccc;
  border-color: #edbe5e #e6b34c #e6b34c #edbe5e;
  padding: 5px;
  font-family: 'Amethysta', serif;
  color: #8C1409;
  background-color: #ffe680;
  height: 125px;
}

.commcontrols {
  position: absolute;
  bottom: 10px;
  right: 0;
}

.container {
  min-height: 100%;
  position: relative;
}

.footer {
  bottom: 0px;
  width: 100%;
  background: image_url('footerbanner.png');
  min-height: 100px;
  text-align: center;
  padding-top: 40px;
}

.footer a {
  padding: 40px;
}


.boardHeader {
  background: image_url('bbsbanner.png') no-repeat center;
  min-height: 250px;
}

.boardHeader h1 {
  position: relative;
  top: 100px;
  font-family: 'Uncial Antiqua', cursive;
  color: #8C1409;
  font-size: 32px;
}

.userbody_right {
  width: 42.5%;
  margin-right: 5%;
  margin-left: 55%;
}

.userbody_left {
  width: 42.5%;
  margin-left: 5%;
  position: absolute;
}

.userbody_right, .userbody_left {
  display: inline-block;
}

.userprofile {
  min-height: 900px;
}

.pad {
  height: 500px;
}
